@charset "UTF-8";
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body {
  background-color: #fff;
  color: #111;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  word-wrap: break-word; }

html, body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, ul, ol, li, pre, form, fieldset, input, p, blockquote, table, th, td, footer, header, article, section, main, nav {
  margin: 0;
  padding: 0; }

audio, video, applet, object, embed, iframe, img {
  height: auto;
  max-width: 100%; }

h1, h2, h3, h4 {
  line-height: 2rem; }

ul {
  list-style: none; }

img {
  border: 0;
  height: auto;
  max-width: 100%; }

a {
  color: #003399;
  text-decoration: none; }

.page {
  background: #fff;
  margin: 0 auto;
  max-width: 62rem;
  overflow: auto; }

.pagehead, .pagefoot, main, .nav-site {
  float: left;
  padding: 1rem;
  width: 100%; }

@media screen and (min-width: 721px) {
  main {
    float: right;
    padding: 0 1rem;
    width: 80%;
    /* For browsers that can't handle calc(). */
    width: calc(100% - 12rem); }

  .nav-site {
    clear: left;
    float: left;
    padding: 0 1rem;
    width: 80%;
    /* For browsers that can't handle calc(). */
    width: calc(0% + 12rem); }
    .nav-site .nav-triggers {
      display: none; }
    .nav-site .nav-links {
      font-size: .75rem;
      line-height: 1.5rem; }
      .nav-site .nav-links li {
        border-bottom: 1px solid #fff; }
        .nav-site .nav-links li:last-child {
          border-bottom-width: 0; }
        .nav-site .nav-links li a {
          background: #ddd;
          color: inherit;
          display: block;
          padding-left: .25rem; }
          .nav-site .nav-links li a:hover {
            background: #bbb; } }
@media screen and (max-width: 720px) {
  .invisible {
    display: none; }

  .pagehead, .pagefoot, .nav-triggers {
    padding: .5rem; }

  .pagehead {
    height: 3rem;
    width: calc(100% - 6rem); }

  main {
    padding: 1rem .5rem; }

  .nav-site {
    padding: 0; }
    .nav-site .nav-triggers {
      background: #444;
      font-weight: 700;
      line-height: 2rem;
      height: 3rem;
      left: calc(100% - 6rem);
      position: absolute;
      top: 0;
      width: 6rem; }
      .nav-site .nav-triggers li a {
        color: #fff;
        padding-left: .9375rem; }
        .nav-site .nav-triggers li a::after {
          content: '▾';
          display: inline-block;
          margin-left: .5rem; }
        .nav-site .nav-triggers li a.open::after {
          content: '×';
          display: inline-block; }
    .nav-site .nav-links {
      font-size: .75rem;
      left: -99rem;
      line-height: 2rem;
      position: absolute;
      width: 100%; }
      .nav-site .nav-links.visible {
        left: 0;
        position: relative; }
      .nav-site .nav-links li {
        display: inline; }
        .nav-site .nav-links li a {
          background: #444;
          color: #fff;
          display: block;
          float: left;
          padding: 0 .5rem;
          width: 50%; }
          .nav-site .nav-links li a::before {
            content: '›';
            margin-right: 0.5em; }
          .nav-site .nav-links li a:hover {
            background: #777; } }

/*# sourceMappingURL=navlight.css.map */
